@using Web.Models.Entity
@{
    Layout = null;
    var optionValues = ViewBag.OptionValues as List<SiteValue>;
}



<div class="box box-info">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
        <i class="fa "></i>

        <h3 class="box-title">جزییات ویژگی @ViewBag.OptionName</h3>
        <!-- tools box -->
        <div class="pull-left box-tools">

        </div>
        <!-- /. tools -->
    </div>
    <div class="box-body">
        <table class="table table-bordered table-condensed table-striped" id="tblOptionValueDetails">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>نام</th>
                <th>وضعیت</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            @{

                int counter = 1;
                foreach (var optionValue in optionValues)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@optionValue.name</td>
                        <td>

                            @{
                                if (optionValue.isEnable)
                                {
                                    <span style="color: green">فعال است</span>
                                }
                                else
                                {
                                    <span style="color: red">غیر فعال است</span>

                                }
                            }

                        </td>
                        <td>
                            <button type="button" id="btnEdit" optionValueId="@optionValue.id" class="btn bg-teal btn-sm"><i class="fa fa-pencil"></i>ویرایش</button>
                            <button type="button" id="btnDelete" optionValueId="@optionValue.id" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                    counter++;
                }
            }
            </tbody>
        </table>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">خصوصیات</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control" id="selDropDown" required>
                        <option value="">انتخاب کنید</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/DataTables/datatables.js"></script>
<link href="~/Content/DataTables/datatables.css" rel="stylesheet" />
<script>
    $(function () {
        $('table#tblOptionValueDetails').DataTable();
    })
    $('button#btnDelete').click(function () {
        var btn = $(this);
        Swal.fire({
            title: 'آیا مایل به حذف هستید؟',
            type: 'error',
            showCancelButton: true,
            cancelButtonText: 'خیر',
            confirmButtonText: 'مایل هستم',
            showLoaderOnConfirm: true,
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.value) {
                jQuery.post('/Employee/ProductOptionValue/DeleteOptionNameAjax', { id: btn.attr('optionValueId') }, function (value) {
                    if (value) {
                        btn.parents('tr').remove();
                    }
                })
            }
        })
    })


    var optionvalueId = 1;
    $('button#btnEdit').click(function () {
        var btn = $(this);
        var optionValueId = btn.attr('optionValueId');
        Swal.fire({
            title: 'متن جایگزینی',
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            cancelButtonText: 'خیر',
            confirmButtonText: 'ثبت',
            showLoaderOnConfirm: true,
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.value) {
                jQuery.post('/Employee/ProductOptionValue/EditOptionNameAjax',
                    { id: optionValueId, value: result.value },
                    function (value) {
                        if (value) {
                            Swal.fire(
                                'پیام',
                                'با موفقیت ثبت شد',
                                'success'
                            ).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                        }
                        if (value === "duplicate") {
                            Swal.fire(
                                'خطا',
                                'محتوای وارد شده تکراری می باشد',
                                'warning'
                            );
                        };
                    });
            }
        })
    });


</script>